<a href="https://colab.research.google.com/drive/1164DNkxLUc_uhradOZQAbGvd6gHKy08r?usp=sharing" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial 1 - Python For Data Analysis üêç 

---

## Basics of Python üå±

### *Table of Contents*

- [Exercise 1](#exercise-1) : List
- [Exercise 2](#exercise-2) : Lambda
- [Exercise 3](#exercise-3) : Dictionary
- [Exercise 4](#exercise-4) : Tuples, Sets
- [Exercice 5](#exercise-5) : Dates
- [Exercise 6](#exercise-6) : File I/O

If you have any questions or remarks about the course or this tutorial, feel free to contact imen.ouled_dlala@devinci.fr or yann.kervella.pro@gmail.com ! üòä

### Requirements

In [1]:
from datetime import datetime, date, time, timedelta
import pytz
import re

<a name="exercise-1">

### Exercise 1 : List
---

‚Ä¢ Write a program to print a specified list after removing the 0th, 4th and 5th elements. 

- *Sample List*: ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

- *Expected Output*: ['Green', 'White', 'Black']

In [10]:
def del_index(sample_list, unwanted_indexes):
    all_indexes = set(range(len(sample_list)))
    unwanted_indexes = set(unwanted_indexes)
    for index in sorted(s.intersection(u), reverse=True):
        del sample_list[index]

In [13]:
sample_list = ["Red", "Green", "White", "Black", "Pink", "Yellow"]
unwanted_indexes = [0,4,5]

print("Case 1: All unwanted indexes correspond to an index on the sample list")
print("Avant:",sample_list, sep="\n")
del_index(sample_list, unwanted_indexes)
print("Apr√®s:",sample_list, sep="\n")

sample_list = ["Red", "Green", "White", "Black", "Pink", "Yellow"]
unwanted_indexes = [0,4,6]

print("\nCase 2: Some unwanted indexes don't correspond to an index on the sample list")
print("Avant:",sample_list, sep="\n")
del_index(sample_list, unwanted_indexes)
print("Apr√®s:",sample_list, sep="\n")

Case 1: All unwanted indexes correspond to an index on the sample list
Avant:
['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Apr√®s:
['Green', 'White', 'Black']

Case 2: Some unwanted indexes don't correspond to an index on the sample list
Avant:
['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Apr√®s:
['Green', 'White', 'Black']

‚Ä¢ Write a program to check whether two lists are circularly identical.

In [79]:
def is_circularly_identical(l1,l2):
    l1.extend(l1) 
    for i in range(len(l1)):
        if l2 == l1[i:i + len(l2)]:
          return True
    return False

l1 = [1,2,3,4]
l2 = [4,1,2,3]
print("l1 and l2", "are" if is_circularly_identical(l1,l2) else "aren't", "circularly identical.")

l3 = [3,1,2,4]
print("l1 and l2", "are" if is_circularly_identical(l1,l3) else "aren't", "circularly identical.")

l1 and l2 are circularly identical.
l1 and l2 aren't circularly identical.

‚Ä¢ Giving the following list [33, 56, 4, 80, 23, 100, 1, 0, 40, 11], write a program to extract:
- the elements from 0 (included) to 7 (excluded)
- the last element of the list
- the last 3 elements of the list

In [ ]:
list_ = [33, 56, 4, 80, 23, 100, 1, 0, 40, 11]
first_seven_ele = list_[0:7]
print(first_seven_ele)

last_ele = list_[-1]
print(last_ele)

last_three_ele = list_[-3:]
print(last_three_ele)

‚Ä¢ Write a program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

- *Sample List* : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] 

- *Expected Result* : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [14]:
sample_list = [(2,5), (1,2), (4,4), (2,3), (2,1)]
print("Avant le tri", sample_list, sep="\n")

sample_list.sort(key=lambda x: x[-1])
print("Apr√®s le tri", sample_list, sep="\n")

Avant le tri
[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Apr√®s le tri
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

<a name="exercise-2">

### Exercise 2
---

‚Ä¢ Write a program to **square and cube** every number in a given list of integers using **Lambda**.

- Original list of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Square every number of the said list:
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

- Cube every number of the said list:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [16]:
sample_list = list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
([1, 4, 9, 16, 25, 36, 49, 64, 81, 100], [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000])

In [17]:
# Method 1
squared_and_cube_list = lambda sample_list: tuple([nb**i for nb in sample_list] for i in [2,3])

print("Original list of integers:", sample_list)
result = squared_and_cube_list(sample_list)
print("Square every number of the said list:", result[0])
print("Cube every number of the said list:", result[1])

Original list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Square every number of the said list: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cube every number of the said list: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [18]:
# Method 2
print("Original list of integers:",sample_list)
print("Square every number of the said list:", list(map(lambda nb: nb**2,sample_list)))
print("Cube every number of the said list:", list(map(lambda nb: nb**3,sample_list)))

Original list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Square every number of the said list: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Cube every number of the said list: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

<a name="exercise-3">

### Exercise 3 : Dictionary

---

‚Ä¢ Write a script to check whether a given key already exists in a dictionary.

In [19]:
sample_dict = {"name": "Jefferson", "birth_date": "1999-21-09", "gender": "Male"}

In [23]:
def key_already_exist(key, dict_):
    return key in dict_.keys()

key = "name"
print(f"The key '{key}'", "exist" if key_already_exist(key,sample_dict) else "doesn't exist", "in the dictionnary.")

key = "phone"
print(f"The key '{key}'", "exist" if key_already_exist(key,sample_dict) else "doesn't exist", "in the dictionnary.")

The key 'name' exist in the dictionnary.
The key 'phone' doesn't exist in the dictionnary.

‚Ä¢ Write a program to iterate over dictionaries using for loops.

In [25]:
def iterate_dict(dict_):
    for key,value in dict_.items():
        print(key, value, sep=": ")
        
iterate_dict(sample_dict)

name: Jefferson
birth_date: 1999-21-09
gender: Male

‚Ä¢ Write a script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

- Sample Dictionary: (n = 5)
- Expected Output: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [26]:
def generate_print_dict(n):
    dict_ = {nb:nb*nb for nb in range(1,n+1)}
    print(dict_)
    
generate_print_dict(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

‚Ä¢ Write a program to map two lists into a dictionary.

In [27]:
list1 = ["name", "birth_date", "gender"]
list2 = ["Jessica", "1999-04-05", "Female"]

In [30]:
# Method 1
def map_lists_dict(list1, list2):
    if len(list1) == len(list2):
        return {nb1:nb2 for nb1, nb2 in zip(list1, list2)}
    else:
        raise ValueError("List aren't the same length")
        
print(map_lists_dict(list1, list2))

# Methode 2
print(dict(zip(list1,list2)))

{'name': 'Jessica', 'birth_date': '1999-04-05', 'gender': 'Female'}
{'name': 'Jessica', 'birth_date': '1999-04-05', 'gender': 'Female'}

<a name="exercise-4">

### Exercise 4 : Tuples & Sets

---
‚Ä¢ Write a program to compute element-wise sum of given tuples. 
- Original lists:
(1, 2, 3, 4) (3, 5, 2, 1) (2, 2, 3, 1)
- Element-wise sum of the said tuples:
(6, 9, 8, 6)

In [31]:
# Method 1
def element_wise_tuples(*tuples):
    return tuple(map(lambda *x: sum(x),*tuples))

# Method 2
def element_wise_tuples_version2(*tuples):
    return tuple(map(sum,zip(*tuples)))

tuple1 = tuple(range(1,5))   
tuple2 = (3,5,2,1)  
tuple3 = (2,2,3,1)  

print(element_wise_tuples(tuple1, tuple2, tuple3))
print(element_wise_tuples_version2(tuple1, tuple2, tuple3))

(6, 9, 8, 6)
(6, 9, 8, 6)

‚Ä¢ Write a Python program to convert a tuple to a dictionary

In [32]:
tuple_ = (3,5,2,1)  

def tuple_to_dict(tuple_):
    return {nb:value for nb,value in enumerate(tuple_)}

tuple_to_dict(tuple_)

{0: 3, 1: 5, 2: 2, 3: 1}

<a name="exercise-5">

### Exercise 5 : Dates

---
‚Ä¢ Write a Python program to get the current time. 
- Sample Format: 13:19:49.078205

In [33]:
from datetime import datetime
import datetime as dt
import pytz

timezone = pytz.timezone("Europe/Paris")

In [34]:
now = datetime.now(tz=timezone)
print(now.time())

11:30:15.464475

‚Ä¢ Write a Python program to subtract five days from current date. 
- Sample Date:
- Current Date: 2015-06-22
- 5 days before Current Date : 2015-06-1

In [36]:
now = datetime.now()
days = dt.timedelta(5)
new_date = now-days

print("Current Date:", now.date())
print("5 days before Current Date :", new_date.date())

Current Date: 2021-09-30
5 days before Current Date : 2021-09-25

‚Ä¢ Write a Python program to print yesterday, today, tomorrow

In [37]:
print("Yesterday:",(datetime.now()-dt.timedelta(1)).date())
print("Today:",datetime.now().date())
print("Tomorrow:",(datetime.now()+dt.timedelta(1)).date())

Yesterday: 2021-09-29
Today: 2021-09-30
Tomorrow: 2021-10-01

‚Ä¢ Write a Python program to get week number.
- Sample Date : 2015, 6, 16 
- Expected Output : 25

In [41]:
def get_week_number(date):
    return datetime.isocalendar(date)[1]

print("Week number:", get_week_number(datetime(2015, 6, 16)))

Week number: 25

‚Ä¢ Write a Python program to calculate a number of days between two dates

In [47]:
date1 = datetime(2021,9,30)
date2 = datetime(2021,9,20)

print("Day number:",abs(date1.day-date2.day))

Day number: 10

<a name="exercise-6">

### Exercise 6 : File I/O

---

In [73]:
# Data generation
with open("data.txt", "w") as f:
    f.writelines(["this is a sample\n",
                  "document for a course\n",
                  "by ESILV in python tutorial\n",
                  "good luck folks for this sample\n",
                  "if you have a question don't hesitate to ask me\n",
                  "you must have my email as well if questions after the session\n"
    ])

‚Ä¢ Write a Python program to count the number of lines in a text file

In [50]:
def line_nb_file(path):
    with open(path, "r") as f:
        line_nb = len(f.readlines())
    return line_nb
    
print(line_nb_file("data.txt"))

6

‚Ä¢ Write a Python program to assess if a file is closed or not

In [52]:
def is_file_closed(file):
    return file.closed

file = open("data.txt", "r")
print("The file", "is" if is_file_closed(file) else "isn't", "closed")
file.close()
print("The file", "is" if is_file_closed(file) else "isn't", "closed")

The file isn't closed
The file is closed

‚Ä¢ Write a Python program to append text to a file and display the text

In [74]:
def append_text(path, text):
    with open(path, "a") as f:
        f.writelines(text)
        
    with open(path, "r") as f:
        print("".join(f.readlines()))

append_text("data.txt", "Hello world")

this is a sample
document for a course
by ESILV in python tutorial
good luck folks for this sample
if you have a question don't hesitate to ask me
you must have my email as well if questions after the session
Hello world

‚Ä¢ Write a Python program to count the frequency of words in a file.

In [76]:
def word_freq(path, char=" "):
    with open(path, "r") as f:
        words = f.readlines()
    words = " ".join([word[:-1] for word in words]).lower().split(char)
    all_words = set(words)
    return {word:words.count(word) for word in all_words}

word_freq("data.txt")

{'a': 3,
 'after': 1,
 'as': 1,
 'ask': 1,
 'by': 1,
 'course': 1,
 'document': 1,
 "don't": 1,
 'email': 1,
 'esilv': 1,
 'folks': 1,
 'for': 2,
 'good': 1,
 'have': 2,
 'hello': 1,
 'hesitate': 1,
 'if': 2,
 'in': 1,
 'is': 1,
 'luck': 1,
 'me': 1,
 'must': 1,
 'my': 1,
 'python': 1,
 'question': 1,
 'questions': 1,
 'sample': 2,
 'session': 1,
 'the': 1,
 'this': 2,
 'to': 1,
 'tutorial': 1,
 'well': 1,
 'worl': 1,
 'you': 2}

## Good job, you finished the first tutorial ! üòé